<%- include("partials/header"); -%>

    <div class="container">
        <h1>Edytuj odcinek <%= locals.episode.series %> <%= locals.episode.episodeNumber %></h1>
        <%- include("partials/_episodeForm"); -%>
    </div>

<%- include("partials/footer"); -%>
