<%- include("partials/header"); -%>

<div class="container">
    <h1>Odcinki, które obejrzeliśmy</h1>
    <p class="first-paragraph">Ich dane możesz obejrzeć poniżej.</p>
</div>

<section class="cards">
    <%  locals.episodes.forEach(function(episode){ %>
    <div class="card">
        <img class="card__image" src="/img/<%= episode.series %>.jpg" alt="<%= episode.series %> odcinek <%= episode.episodeNumber %>">
        <ul class="card__list">
            <li class="card__list--item-episode"><%= episode.series %> <%= episode.episodeNumber %></li>
            <li class="card__list--item-see-more"><a href="/episodes/<%= episode.slug %>" class="card__link">Zobacz więcej</a></li>
            <% if (locals.user && locals.user.level <= 10) { %>
                <li class="card__list--item-edit"><a href="/episodes/<%= episode.slug %>/edit" class="card__link">Edytuj odcinek</a></li>
            <% } %>
        </ul>
    </div>
    <% }); %>
</section>

<%- include("partials/footer"); -%>
