<%- include("partials/header"); %>

<div class="container">
  <h1>Strona główna</h1>
  <p class="first-paragraph"> W tym miejscu niedługo dowiemy się które marki samochodów są wybierane najczęściej przez kierowców potocznie i wcale
    nie pieszczotliwie nazywanych dzbanami. Oczywiście wszystko to dla zabawy, bo nie da się zdobyć w 100% precyzyjnych danych na ten temat. Niedługo będziesz
    mógł poczytać o naszej metodologii <a class="first-paragraph__link" href="/about">tutaj</a>.</p>
</div>

<section class="cards">
  <% cars.forEach(function(car){ %>
    <div class="card">
      <div class="card__image-box">
        <img class="card__image" src="./img/cars/<%= car.brand %>.jpg" alt="Samochód marki <%= car.brand %>">
        <h2 class="card__heading"><span class="card__heading-span"><%= car.brand %></span></h2>
      </div>
      <ul class="card__list">
        <li class="card__list--item-cars">Samochody w bazie: <span class="card__value"><%= car.numberOfCars %></span></li>
        <li class="card__list--item-accidents">Wypadki w bazie: <span class="card__value"><%= accidents[0][car.brand] %></span></li>
        <li class="card__list--item-jug-ratio">Współczynnik dzbana: <span class="card__jug-meter"><%= wspolczynnikDzbana[car.brand] %></span></li>
      </ul>
    </div>
  <% }); %>
</section>

<%- include("partials/footer"); %>